.navbar{
    height: 70px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
}
.circular{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 10px;
}
nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li{
  margin: 20px 20px;
}
.btn{
  color: black;
  background-color: white;
  height: 30px;
  margin: 10px 0px 0px 10px;


}
.btn1{
  color: black;
  background-color: white;
  height: 30px;
  margin: 10px 0px 0px 10px;

}
.btn2{
  color: black;
  background-color: white;
  height: 30px;
  margin: 10px 0px 0px 140px;

}